.left_side_bar_group_list
  .left_side_bar_group_list__user_name
    .left_side_bar_group_list__list
      .left_side_bar_group_list__userName
        =" hogehoge "
      .left_side_bar_group_list__iconList
        .left_side_bar_group_list__Icon
          = link_to "#" do
            = icon("fas", "edit") 
            -#  =<i class='far fa-edit'></i>
            -# = <"far fa-edit">
        .left_side_bar_group_list__Icon
          = link_to "#" do
            = icon("fas", "cog")
  .left_side_bar_group_list__groupList
    .left_side_bar_group_list__Group
      .left_side_bar_group_list__Group__name
        hogehoge
      .left_side_bar_group_list__Group__message
        まだメッセージがありません

